<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="OpenPokerAI Default Style Ruleset" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.CodeStyle" RuleNamespace="Microsoft.CodeAnalysis.CSharp.CodeStyle">
    <Rule Id="IDE0008" Action="Warning" />
    <Rule Id="IDE0055" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0008" Action="Warning" />
    <Rule Id="IDE0065" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0055" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1005" Action="Hidden" />
    <Rule Id="SA1027" Action="Error" />
    <Rule Id="SA1503" Action="Hidden" />
    <Rule Id="SA1604" Action="Hidden" />
  </Rules>
</RuleSet>